<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jinniu.delivery">

    <application tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.ANewStoreList"></activity>
        <activity
            android:name=".activity.ASearchDelivery"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity android:name=".activity.AChoiceReceiptAdd" />
        <activity
            android:name=".activity.AFoodDetail"
            android:theme="@style/myTransparent" />
        <activity
            android:name=".activity.AXuanGuiGe"
            android:theme="@style/myTransparent" />
        <activity android:name=".activity.ADeliveryStoreDetail" />
        <activity android:name=".activity.AStoreList" />
        <activity android:name=".activity.ADeliveryHomeTest" /> <!-- android:allowBackup="true" -->
        <!-- android:icon="@mipmap/ic_launcher" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:roundIcon="@mipmap/ic_launcher_round" -->
        <!-- android:supportsRtl="true" -->
        <!-- android:theme="@style/AppTheme"> -->
        <activity android:name=".ADeliveryHome">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>